.css-10jyip1-MuiLinearProgress-root {
    background-color: #96336E !important;
    border-radius: 50px !important;
}

.css-17282r-MuiLinearProgress-bar1 {
    background-color: #f09 !important;
    border-radius: 50px !important;
}